<div class="login">
  <div class="bg"></div>
  <div class="form">
    <div class="heading">Login</div>
    <form>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="abc@example.com" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" />
      </mat-form-field>
      <button mat-flat-button color="warn" class="full-width">
        Login
      </button>
    </form>
  </div>
</div>
