.main {
  display: flex;
  height: 100vh;
  .gallery {
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
    .slider {
      height: 90px;
      ::ng-deep .owl-carousel {
        height: 100%;
        .owl-stage-outer {
          height: 100%;
          .owl-stage {
            height: 90px;
            .owl-item {
              height: 100%;
              display: flex;
              justify-content: center;
              background-color: #000;
              .img-cont {
                height: 100%;
                text-align: center;
                img {
                  height: 100%;
                  width: auto;
                }
              }
              .time {
                position: absolute;
                bottom: 2px;
                left: 2px;
                background-color: rgba(0, 0, 0, 0.8);
                color: white;
                p {
                  margin: 0;
                  padding: 4px;
                }
              }
              &.selected {
                border: 2px solid #df342c;
                height: calc(100% - 4px);
                .time {
                  background-color: #df342c;
                }
              }
            }
          }
        }
      }
    }
    .img-viewer {
      // padding-top: 43px;
      flex-grow: 1;
      ::ng-deep .image-gallery-2 {
        margin: 0;
        height: 100%;
        .image-container {
          background: #1a1a19;
          height: 100%;
        }
        .inline-icon {
          // margin-top: -43px;
          position: absolute;
          bottom: 0;
        }
        .footer-info {
          display: none;
        }
      }
    }
  }
  .sidebar {
    width: 240px;
    background: #000;
    color: #fff;
    .datetime {
      margin-top: 8px !important;
      min-height: 36px;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      .cont {
        display: flex;
        .time {
          float: left;
          margin-right: 10px;
          font: 400 36px/0.95 "Roboto Condensed", sans-serif;
          font-size: 2.25rem;
          letter-spacing: -2px;
        }
        .date {
          display: flex;
          flex-direction: column;
          .weekday {
            font: 900 13px/1.23076923 "Roboto", sans-serif;
            font-size: 0.8125rem;
            text-transform: uppercase;
            color: #df342c;
          }
          .date {
            font: 700 14px/1.14285714 "Roboto", sans-serif;
            font-size: 0.875rem;
            &.short {
              display: none;
            }
          }
        }
      }
    }
    .atmosphere {
      margin-bottom: 40px;
      .item {
        display: flex;
        margin: 16px 8px;
        .icon {
          width: 56px;
          text-align: center;
          font-size: 24px;
        }
        .value {
          line-height: 1.4;
          font-size: 18px;
        }
      }
    }
    .calendar {
      display: flex;
      justify-content: center;
      ::ng-deep .mini-calendar-component {
        border: none;
        width: 230px;
        background-color: transparent;
        .header {
          background-color: transparent !important;
        }
        .week {
          .day {
            background-color: transparent;
            color: white;
          }
        }
      }
    }
  }
}
